import { Send, HTTP_METHODS } from '@/core/http'

class Api {
  // 列表
  list(params?: any) {
    return Send({
      url: '/ga-base/name/list',
      params,
      method: HTTP_METHODS.GET,
      errorText: '获取列表数据失败'
    })
  }
}

export const Pps<%= classify(name) %>Api = new Api()
